.game-container{
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

.game-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 0 1em;
  border: 3px #05050d solid;
  background: #b5651d
}

#turn-id {
  color: #ff0
}

.board-container{
  height: 100%;
  border: #050505 3px solid;
  background: #373;
  display: flex;            /*flexbox container*/
  flex-flow: row;           /*Items in this container are aligned in a row*/
  justify-content: center;  /*Any items in this container will be centered
                            Horizontally. */
  align-items: center;  /*Any items in this container will be anchored to
                            the start of this container Vertically. */
}

.board{
  border: black 5px solid;
  display: flex;        /*flexbox container*/
  flex-flow: column;    /*Items in this container are aligned in a column*/
  flex-grow: 1;         /*Fills vertical whitespace in the board-container w/ board*/
  min-width: 450px;     /*boundary: don't let board get too small*/
  max-width: 650px;     /*boundary: don't let board get too large*/
}

.board-row{
  background: #070; /* Green */
  display: flex;    /*flexbox container*/
  flex-flow: row;   /*Items in this container are aligned in a row*/
                    /* i.e. squares */
  padding: 0;      /* Padding and margin keep rows tight together*/
  margin: 0;
}

.board-square{
  display: flex;    /* flexbox container*/
  flex-flow: row;   /* items are aligned in a row, i.e. pieces */
  flex-grow: 1;     /* pieces should adapt to square space*/
  border: #333 1px solid;
  justify-content: center;  /*Items in this container will be centered*/
  align-items: center;
}

/* If you ever want to make squares adjust vertically, this hacky soln must change.*/
.board-square::before {
  content: '';
  padding-top: 100%; /*Hack-y way to make each square maintain height*/
}

.square-content {
  /*Target*/
  /*border: red 2px dotted;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.game-piece {
}

.light {
  background: #eee;
}
.dark {
  background: #666;
}

.light.selected {
  background: #f2f277;
}
.dark.selected {
  background: #cfcf1c;
  /*background: #bb3;*/
}
